.App {
	text-align: center;
}
.question {
	font-size: 22px;
}

.btnAnswer {
	display: block;
	margin: 0 auto;
	width: 200px;
	background: green;
	font-size: 15px;
	cursor: pointer;
	color: white;
	border: none;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 1px;
}
.btnAnswer:hover {
	opacity: 0.8;
}
.score-wrapper {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #989998;
	text-align: center;
}
.correct {
	display: inline-block;
	vertical-align: middle;
	margin: 0.3em;
}

.incorrect {
	display: inline-block;
	vertical-align: middle;
	margin: 1em;
}
.user-greeting{
  font-size: 18px;
  color: blue;
}