@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap");
body {
	background: #205E86;
	color: white;
	font-family: "Nunito", sans-serif;
}
.widgetWrap {
	border-radius: 20px;
	background: #1F335A;
	/* height: 182px; */
	margin-bottom: 20px;
}
.widgetTitle {
	border-bottom: 2px solid #57E1C1;
	text-align: left;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	padding: 15px ;
	padding-bottom: 5px;
	color: white;
}
.widgetValue .value {
	font-size: 57px;
	font-weight: 700;
	text-align: left;
	padding: 0px 7px;
	line-height: 100%;
}
.widgetValue{
	padding-top: 10px;
    padding-bottom: 13px;
	padding-left: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	/* height: 143px; */
}
.description {
	text-align: left;
	font-size: 15px;
	padding-left: 13px;
	color: #ACADB1;
}
text{
	fill: white;
}
.value{
	color: #57E1C1;
}
.TopHeader .row{
	background: #2a2a2a;
	margin-bottom: 20px;
	padding:10px  15px;
	font-size: 24px;
	text-align: left;
	font-weight: bold;
}
.Dropdown-root{
	font-size: 15px;
	width: 142px;
	float: right;
}
